.header {
  max-width: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--background-transparent);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  backdrop-filter: blur(2px);
  overflow: hidden;
  &__logo {
    font-size: var(--font-size-22);
    font-weight: bolder;
    color: var(--white);
    &--highlight {
      text-transform: uppercase;
      color: var(--orange);
      font-size: inherit;
      font-weight: inherit;
    }
  }
  &__navbar {
    &--navlink {
      color: var(--white);
      font-size: var(--font-size-18);
      margin: 0 0.8rem;
      position: relative;
      padding: 0.5rem 0;
    }
    ::before {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0.25rem;
      overflow: hidden;
      border-radius: 0.1rem;
      background: var(--orange);
      transition: width 0.4s ease-in-out 0.1s;
    }
    :hover {
      color: var(--orange);
      &::before {
        width: 100%;
      }
    }
  }
  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 11rem;
    &--icon {
      font-size: var(--font-size-22);
      color: var(--orange);
      cursor: pointer;
    }
  }
}
