.home {
  position: relative;
  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: url("../images/background.jpg") center/cover no-repeat fixed;
    filter: brightness(0.5) blur(1.5px);
    border-radius: 1rem;
    z-index: -1;
  }
}
