.btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--orange);
  color: #111;
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--orange);
  font-size: 1.7rem;
  cursor: pointer;
  &:hover {
    background: rgba(114, 74, 0, 0.2);
    color: var(--orange);
    font-weight: 600;
  }
}
