.btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--orange);
  color: var(--white);
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--orange);
  font-size: var(--font-size-16);
  border-radius: .1rem;
  cursor: pointer;
  &:hover {
    background: rgba(114, 74, 0, 0.2);
    color: var(--orange);
    text-shadow: var(--shadow-bold);
  }
}
