.home {
  &__content {
    text-align: center;
    &--title {
      font-size: var(--supper-title);

      color: var(--orange);
      text-transform: uppercase;
      text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
    }
    &--subtitle {
      font-size: var(--font-size-18);
      color: #fefefe;
      padding: 0.5rem 0;
    }
  }
  &__controls {
    display: flex;
    padding: 1rem;
    border-radius: 5rem;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 5rem;
    align-items: center;
    &--vid-btn {
      height: 2rem;
      width: 2rem;
      display: inline-block;
      border-radius: 50%;
      background: #888;
      cursor: pointer;
      margin: 0 0.5rem;
    }
    &__vid-btn {
      &--active {
        background: var(--orange);
      }
    }
  }
  &__background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: url("../../../../../assets/images/background.jpg") center/cover
      no-repeat fixed;
    filter: brightness(0.6);
    z-index: -1;
    border-radius: 0.5rem;
    overflow: hidden;
    transition-timing-function: linear;
    &--video {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
