@import "root";
@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap);
@import "reset";
@import "base";

body {
  max-width: 2960px;
  margin: 0 auto;
  background: var(--background);
  color: var(--color);
  overflow: hidden auto;
  transition-property: var(--transition-property);
  &.light {
    --background: var(--white);
    --color: var(--black);
    --shadow: 0 0 0.1rem var(--black_transparent);
  }
  * {
    &::-webkit-scrollbar {
      width: 0.3rem;
    }
  }
  header {
    padding: 2rem calc((100vw - var(--max_width)) / 2);
    margin: 0 auto;
    * {
      user-select: none;
      transition-property: all;
    }
  }
  main {
    @extend header;
    min-height: 100vh;
    * {
      padding: 0;
      user-select: text;
    }
  }
  footer {
    @extend main;
    min-height: auto;
    margin-top: 0;
    * {
      user-select: none;
    }
  }
}
