@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap);
:root {
  --orange: #ffa500;
  --orange_transparent: #ffa50090;
  --black: #333;
  --black_transparent: #333333bf;
  --white: #fefefe;
  --max_width: 1440px;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
  &::selection {
    background: var(--orange);
    color: var(--white);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 5rem;
  }
  &::-webkit-scrollbar-track {
    background: var(--black);
  }
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-padding-top: 7rem;
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
}
body {
  max-width: 2960px;
  background: var(--black);
  color: var(--white);
  * {
    &::-webkit-scrollbar {
      width: 0.3rem;
    }
  }
  header {
    padding: 2rem calc((100vw - var(--max_width)) / 2);
    * {
      user-select: none;
      transition: all 0.3s ease-in-out;
    }
  }
  main {
    @extend header;
    min-height: 100vh;
    margin: 0 auto;
    * {
      padding: 0;
      user-select: text;
    }
  }
  footer {
    @extend main;
    min-height: auto;
    margin-top: 0;
  }
}
button,
input,
select,
textarea {
  outline: none;
  border: none;
  background: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--orange);
  text-shadow: 0 0 0.5rem var(--black_transparent);
  font-size: 2rem;
}
p,
span {
  font-weight: 400;
  color: var(--white);
  text-shadow: 0 0 0.5rem var(--black_transparent);
  font-size: 1.6rem;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
